


<br/>
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <div class="card">
  <div class="card-header d-flex align-items-center">
    <h3 class="h4">Registrando</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-12">

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>


          <div class="form-group">
            <label class="form-control-label">Tipo de usuário</label>
            <br/>
            <%= select :user, :user_type_id, UserType.all.collect {|p| [ p.pt_kind, p.id ] }, {prompt: 'Selecione'} %>
          </div>

          <div class="form-group">
            <label class="form-control-label">Nome</label>
            <%= f.text_field :name, :class => "form-control", :maxlength => 150 %> 
          </div>

          <div class="form-group">
            <label class="form-control-label">Email</label>
            <%= f.text_field :email, :class => "form-control", :maxlength => 150 %> 
          </div>

          <div class="form-group">
            <label class="form-control-label">Senha</label>
            <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
          </div>

          <div class="form-group">
            <label class="form-control-label">Confirmação de senha</label>
            <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
          </div>


          <div class="actions">
            <%= link_to "Cancelar", "/", :class=>"btn btn-info" %></a>
            <%= f.submit "Salvar", :class=>"btn btn-info" %>
          </div>

        <% end %>
      </div>
    </div>
    
  </div>
</div>
  </div>
  <div class="col-lg-2"></div>
</div>






