<header class="header">
  <nav class="navbar">
    <!-- Search Box-->
    <div class="search-box">
      <button class="dismiss"><i class="icon-close"></i></button>
      <form id="searchForm" action="#" role="search">
        <input type="search" placeholder="What are you looking for..." class="form-control">
      </form>
    </div>
    <div class="container-fluid">
      <div class="navbar-holder d-flex align-items-center justify-content-between">
        <!-- Navbar Header-->
        <div class="navbar-header">
          <!-- Navbar Brand --><a href="index.html" class="navbar-brand">
            <div class="brand-text brand-big"><span>Eventos </span></div>
            <div class="brand-text brand-small"><strong>EV</strong></div></a>
          <!-- Toggle Button--><a id="toggle-btn" href="#" class="menu-btn active"><span></span><span></span><span></span></a>
        </div>
        <!-- Navbar Menu -->
        <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">

          <!-- Logout    -->
          <li class="nav-item">
            <%= link_to destroy_user_session_path, {:method => :delete, :class => "nav-link logout"} do %>
              Sair<i class="fa fa-sign-out"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>