<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="headerModal" class="modal-title"></h4>
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body" id="contentModal">
       
      </div>
      <div class="modal-footer" id="actionsModal">
        <button type="button" data-dismiss="modal" class="btn btn-secondary">Fechar</button>
      </div>
    </div>
  </div>
</div>

