<!-- Side Navbar -->
<nav class="side-navbar">
  <!-- Sidebar Header-->
  <div class="sidebar-header d-flex align-items-center">
    <div class="title">
      <h1 class="h4"><%= current_user.name %></h1>
      <p><%= current_user.email %></p>
    </div>
  </div>

</nav>
