<tr>
	<td><%= event_user.user.name %></td>
	<td><%= event_user.user.email %></td>
	<td>
		<div class="input-group">
      <div class="input-group-btn">
		    <button data-toggle="dropdown" type="button" class="btn btn-white dropdown-toggle">
		    	<%= get_status_string event_user.status %>
		    	<i class="caret"></i>
		    </button>
	      <ul class="dropdown-menu">
        	<li>
	        	<%= link_to "Aceitar", accept_event_user_path(event_user) %>
        	</li>
        	<li>
	        	<%= link_to "Recusar", refuse_event_user_path(event_user) %>
        	</li>
	      </ul>
	    </div>
		</div>	
	</td>
</tr>