<tr>
	<td><%= format_date paper.event.start_at %></td>
	<td><%= paper.title %></td>
	<td><%= truncate(paper.students_name_formatted, length: 30) %></td>
	<td><%= link_to "Visualizar", paper.content, target: :new, class: "btn btn-light" %></td>
	<td><%= link_to "Avaliar", evaluate_paper_path(paper), class: "btn btn-light" %>
	</td>
</tr>