

<section class="dashboard-counts no-padding-bottom no-padding-top">

  <div class="row no-padding">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Data</th>
                <th>Título</th>
                <th>Alunos</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "teacher_paper", collection: @papers, as: :paper %>
            </tbody>
          </table>

          <%= will_paginate(@papers, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>

        </div>
      </div>
    </div>
  </div>
</section>
