<%= form_tag(apply_evaluator_event_path(event), :html => { :role => "form", method: :post }) do |f| %>
 
	<div class="checks">
		<%= check_box_tag :agree, false, {class: "checkbox-template", id: "checkboxAgree"} %>
	  <label for="checkboxAgree">Aceito ser avaliador do evento</label>
	</div>

	<div class="row no-padding">
		<div class="col-lg-10"></div>
		<div class="col-lg-2">
	    <%= submit_tag "Confirmar", :class=>"btn btn-info" %>
		</div>
	</div>
  
<% end %>