<tr>
	<td><%= event.title %></td>
	<td><%= event.place %></td>
	<td><%= format_date event.start_at %></td>
	<td>
    <div class="input-group">
      <div class="input-group-btn">
		    <button data-toggle="dropdown" type="button" class="btn btn-white dropdown-toggle">
		    	Opções<i class="caret"></i>
		    </button>
	      <ul class="dropdown-menu">
	        <li>
	        	<%= link_to "Editar", edit_event_path(event) %>
	        </li>
	        <li>
	        	<%= link_to "Remover", event, method: :delete, data: { confirm: "Tem certeza?" } %>
        	</li>
        	<li>
	        	<%= link_to "Compartilhar", "#", { "data-toggle" => "modal", "data-target" => "#myModal", "onclick" => "populateModal('#{event.id}', '#{event.token.key}')" }%>
        	</li>
      	 	<li>
	        	<%= link_to "Avaliadores", evaluators_event_path(event) %>
        	</li>
      		<li>
	        	<%= link_to "Trabalhos", papers_event_path(event) %>
        	</li>
	      </ul>
	    </div>
		</div>	
	</td>
</tr>