<div class="card">
  <div class="card-header d-flex align-items-center">
    <h3 class="h4"> <%= @event.new_record? ? "Criando" : "Editando" %> evento</h3>
  </div>
  <div class="card-body">    
    <div class="row">
      <div class="col-lg-6">

        <%= form_for(@event, :html => { :role => "form" }) do |f| %>
          <% if @event.errors.any? %>
            <div class="alert alert-danger" role="alert">
              <h2>Os seguintes errors foram encontrados:</h2>

              <ul>
              <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <label class="form-control-label">Título</label>
            <%= f.text_field :title, :class => "form-control", :maxlength => 150 %> 
          </div>

           <div class="form-group">
            <label class="form-control-label">Descrição</label>
            <%= f.text_area :description, rows: 10, :class => "form-control" %> 
          </div>

           <div class="form-group">
            <label class="form-control-label">Local</label>
            <%= f.text_field :place, :class => "form-control", :maxlength => 200 %> 
          </div>

          <div class="form-group">
            <label class="form-control-label">Início</label>
            <%= f.text_field :start_at, :class => "form-control datepicker", "data-provide" => :datepicker, "data-date-format" => "yyyy/mm/dd", value: (format_date @event.start_at) %> 
          </div>

          <div class="form-group">
            <label class="form-control-label">Término</label>
            <%= f.text_field :end_at, :class => "form-control datepicker", "data-provide" => :datepicker, "data-date-format" => "yyyy/mm/dd", value: (format_date @event.end_at)  %> 
          </div>

          <div class="form-group">
            <label class="form-control-label">Aceite de avaliadores</label>
            <%= f.text_field :accept_papers_until, :class => "form-control datepicker", "data-provide" => :datepicker, "data-date-format" => "yyyy/mm/dd", value: (format_date @event.accept_papers_until) %> 
          </div>

          <div class="row">
            <div class="col-lg-10">  
              <br/>  
              <h2 class="field">Critérios de avalição</h2>

              <div id="fields-criteria">
                <br>
                <% @event.criteria.each do |criterium| %>
                  <div id="fieldset-quantity-criterium-<%= criterium.id %>">
                    <fieldset class="form-inline">
                      <input type="text" hidden="true" name=criteria[][id] value=<%= criterium.id %>>

                      <div class="row">
                        <div class="col-lg-10">
                          <input type="text" class="form-control form-control-sm" name=criteria[][name] placeholder="Nome" value="<%= criterium.name %>">
                        </div>
                     
                        <div class="col-lg-2">
                          <button id="criterium-<%= criterium.id %>" type="button" onclick="removeCriteriumFields('<%= criterium.id %>')" class="btn btn-info btn-sm remove-criterium">Remover</button>
                          <input type="checkbox" id="criterium_remove_checkbox_<%= criterium.id %>" class="form-control form-control-sm" name=criteria[][remove] hidden>
                        </div>
                     
                      </div>
                     
                    </fieldset>
                    <br>
                  </div>
                <% end %>

              </div>

              <button id="add-criterium" type="button" class="btn btn-info btn-sm" onclick="addCriterium()">Adicionar</button>
              <br/>
              <br/>
            </div>
          </div>
         

          <div class="actions">
            <%= link_to "Cancelar", events_path, :class=>"btn btn-info" %></a>
            <%= f.submit "Salvar", :class=>"btn btn-info" %>
          </div>

        <% end %>
      </div>
    </div>
    
  </div>
</div>

<script>
    $('.datepicker').datepicker({
      format: 'dd/mm/yyyy',
      language: 'pt-BR',
      weekStart: 0
    });
</script>