<div class="breadcrumb-holder container-fluid">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Eventos", events_path %></li>
    <li class="breadcrumb-item"><%= @event.title %></li>
    <li class="breadcrumb-item active">Avaliadores</li>
  </ul>
</div>

<section class="dashboard-counts no-padding-bottom no-padding-top">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "users/teacher_event_user", collection: @teachers_event_users, as: :event_user %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

