<section class="dashboard-counts no-padding-bottom no-padding-top">
  <%= link_to "Criar evento", new_event_path, class: "btn btn-success", id: "add-button" %>

  <div class="row no-padding">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <table class="table table-sm ">
            <thead>
              <tr>
                <th>Título</th>
                <th>Lugar</th>
                <th>Data</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= render @events %>
            </tbody>
          </table>

          <div class="row">
            <div class="col-lg-12">
              <%= will_paginate(@posts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>



<%= render 'partials/modal' %>

<script type="text/javascript">
  
  function populateModal(eventId, eventToken) {
    var modalTitle = "Compartilhar evento";
    var modalMessage = "Compartilhe o link abaixo para que os avaliadores possam se cadastrar no evento";
    var teacherMessage = "Link para avaliadores:"

    var urlTeacher = window.location.protocol + "//" + window.location.hostname + ":" +window.location.port + "/events/" + eventId + "/share?token=" + eventToken;

    var content = "<p>" + modalMessage + "</p>"
                  + "<p><strong>" + teacherMessage + "</strong></p>"
                  + "<p><a href='" + urlTeacher + "'>" + urlTeacher + "</a></p>";

    var headerModal = $("#headerModal");
    var contentModal = $("#contentModal");
    var actionsModal = $("#actionsModal");

    headerModal.html(modalTitle);
    contentModal.html(content);

  }
</script>