<div class="breadcrumb-holder container-fluid">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Eventos", events_path %></li>
    <li class="breadcrumb-item"><%= @event.title %></li>
    <li class="breadcrumb-item active">Trabalhos</li>
  </ul>
</div>

<section class="dashboard-counts no-padding-bottom no-padding-top">
  <%= link_to "Registrar trabalho", new_paper_path(event_id: @event.id), class: "btn btn-success", id: "add-button" %>

  <div class="row no-padding">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Título</th>
                <th>Alunos</th>
                <th>Avaliador</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <%= render @papers %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'partials/modal' %>

<script type="text/javascript">
  
  var tableAvaliators = '<table class="table">\
                                    <thead>\
                                      <tr>\
                                        <th class="col-lg-10">Nome</th>\
                                        <th class="col-lg-2"></th>\
                                      </tr>\
                                    </thead>\
                                    <tbody>\
                                      <% if @papers.size > 0 %>\
                                        <% @papers.first.event.teachers_event_users.includes(:user).each do |event_user| %>\
                                          <% next if !event_user.accepted? %>\
                                          <tr>\
                                            <td><%= event_user.user.name %></td>\
                                            <td>\
                                              <%= link_to "Selecionar", "#", class: "btn btn-light", onclick: "applyEvaluator(#{event_user.user.id})" %>\
                                            </td>\
                                          </tr>\
                                        <% end %>\
                                      <% end %>\
                                    </tbody>\
                                  </table>';

  var modalTitle = "Selecione um avaliador";

  var headerModal = $("#headerModal");
  var contentModal = $("#contentModal");
  var actionsModal = $("#actionsModal");

  var paperSelectedId = 0;

  headerModal.html(modalTitle);
  contentModal.html(tableAvaliators);

  function onPaperSelected(paperId) {
    paperSelectedId = paperId;
  }

  function applyEvaluator(evaluatorId) {
    var url = "/papers/" + paperSelectedId + "/apply_evaluator?user_id=" + evaluatorId;
    $.get(url, function(data) {
      location.reload();
    });
  }

</script>