<section class="dashboard-counts no-padding-bottom">

  <div class="row no-padding">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
            <p><strong>Título:</strong> <%= @event.title %></p>
            <p><strong>Descrição:</strong> <%= @event.description %></p>
            <p><strong>Início:</strong> <%= format_date @event.start_at %> <strong>Término:</strong> <%= format_date @event.end_at %></p>
            <p><strong>Limite de submissão de trabalhos:</strong> <%= format_date @event.accept_papers_until %></p>

            <%= @valid_token ? (render 'apply_evaluator', event: @event) : (render 'papers/form', event: @paper) %>
        </div>
      </div>
    </div>
  </div>
</section>