<div class="page login-page">
      <div class="container d-flex align-items-center">
        <div class="form-holder has-shadow">
          <div class="row">
            <!-- Logo & Information Panel-->
            <div class="col-lg-6">
              <div class="info d-flex align-items-center">
                <div class="content">
                  <div class="logo">
                    <h1>Dashboard</h1>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
              </div>
            </div>
            <!-- Form Panel    -->
            <div class="col-lg-6 bg-white">
              <div class="form d-flex align-items-center">
                <div class="content">
                 
                  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="form-group">
                      <%= f.email_field :email, autofocus: true, id: "login-username", class: "input-material" %>
                      <label for="login-username" class="label-material">Email</label>
                    </div>

                    <div class="form-group">
                      <%= f.password_field :password, id: "login-password", class: "input-material" %>
                      <label for="login-password" class="label-material">Password</label>
                    </div>
                  
                    <div class="actions">
                      <%= f.submit "Log in", class: "btn btn-primary" %>
                    </div>
                  <% end %>


                  <br/>
                  <%= link_to "Esqueceu a senha?", new_password_path(resource_name), class: "forgot-pass" %>
                  
                  <br>
                  <small>Não possui uma conta? </small>
                  <%= link_to "Registrar-se", new_user_registration_path, class: "signup" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyrights text-center">
        <p>Design by <a href="https://bootstrapious.com/admin-templates" class="external">Bootstrapious</a></p>
        <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
      </div>
    </div>
