<div class="card">
  <div class="card-header d-flex align-items-center">
    <h3 class="h4"> <%= @paper.new_record? ? "Registrando" : "Editando" %> trabalho</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">

        <%= form_for(@paper, :html => { :role => "form" }) do |f| %>
          <% if @paper.errors.any? %>
            <div class="alert alert-danger" role="alert">
              <h2>Os seguintes errors foram encontrados:</h2>

              <ul>
              <% @paper.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <%= f.hidden_field :event_id %> 

          <div class="form-group">
            <label class="form-control-label">Título</label>
            <%= f.text_field :title, :class => "form-control", :maxlength => 150 %> 
          </div>

          <div class="form-group">
            <label class="form-control-label">Descrição</label>
            <%= f.text_area :description, rows: 10, :class => "form-control" %> 
          </div>

          <div class="form-group">
            <label class="form-control-label">Anexo</label>
            <%= f.file_field :content %> 
          </div>

          <div class="row">
            <div class="col-lg-10">  
              <br/>  
              <h2 class="field">Alunos</h2>

              <div id="fields-students">
                <br>
                <% @paper.students.each do |student| %>
                  <div id="fieldset-quantity-student-<%= student.id %>">
                    <fieldset class="form-inline">
                      <input type="text" hidden="true" name=students[][id] value=<%= student.id %>>

                      <div class="row">
                        <div class="col-lg-10">
                          <input type="text" class="form-control form-control-sm" name=students[][name] placeholder="Nome" value=<%= student.name %>>
                        </div>
                     
                        <div class="col-lg-2">
                          <button id="student-<%= student.id %>" type="button" onclick="removeStudentFields('<%= student.id %>')" class="btn btn-info btn-sm remove-student">Remover</button>
                          <input type="checkbox" id="student_remove_checkbox_<%= student.id %>" class="form-control form-control-sm" name=students[][remove] hidden>
                        </div>
                     
                      </div>
                     
                    </fieldset>
                    <br>
                  </div>
                <% end %>

              </div>
            

              <button id="add-student" type="button" class="btn btn-info btn-sm" onclick="addStudent()">Adicionar</button>
              <br/><br/>
            </div>
          </div>

          <div class="actions">
            <%= link_to "Cancelar", papers_event_path(@paper.event), :class=>"btn btn-info" %></a>
            <%= f.submit "Salvar", :class=>"btn btn-info" %>
          </div>

        <% end %>
      </div>
    </div>
    
  </div>
</div>
