<tr>
	<td><%= paper.title %></td>
	<td><%= truncate(paper.students_name_formatted, length: 30) %></td>
	<td>
		<button class="btn btn-light" data-toggle="modal", data-target="#myModal", onclick="onPaperSelected(<%= paper.id %>)"><%= paper.user.present? ? paper.user.name : "Adicionar" %></button>
	</td>
	<td><%= link_to "Visualizar", paper.content, target: :new %></td>
	<td>
		<div class="input-group">
      <div class="input-group-btn">
		    <button data-toggle="dropdown" type="button" class="btn btn-white dropdown-toggle">
		    	Opções
		    	<i class="caret"></i>
		    </button>
	      <ul class="dropdown-menu">
        	<li>
	        	<%= link_to "Editar", edit_paper_path(paper) %>
	        </li>
	        <li>
	        	<%= link_to "Remover", paper, method: :delete, data: { confirm: "Tem certeza?" } %>
        	</li>
	        <li>
	        	<%= link_to "Notas", ratings_paper_path(paper) %>
        	</li>
	      </ul>
	    </div>
		</div>	
	</td>
</tr>