
<div class="card">
  <div class="card-header d-flex align-items-center">
    <h3 class="h4"> Avaliando</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-12">

      	<%= form_tag(apply_evaluation_paper_path(@paper), :html => { :role => "form", method: :post }) do |f| %>
 					
      		<input type="text" name="evaluator_id" value="<%= current_user.id %>" hidden="true">

    			<% ratings = @paper.ratings %>

      		<% @paper.event.criteria.each do |criterium| %>
						<% rate = ratings.select {|rate_inner| rate_inner.criterium_id == criterium.id }.first %>

						<fieldset>
              <input type="text" name=ratings[][id] hidden="true" value=<%= criterium.id %>>
  						<%= criterium.name %>

              <div class="row">
                <div class="col-lg-4">
	                  <input type="number" step="0.1" max="10" class="form-control form-control-sm" name=ratings[][value] placeholder="Nota" value="<%= rate.value if rate.present? %>">

                </div>
              </div>

              <br/>
              <div class="row">
                <div class="col-lg-4">
                  <textarea class="form-control" name=ratings[][considerations] placeholder="Considerações"><%= rate.considerations if rate.present? %></textarea>
                </div>
              </div>


             
             	<br/>
            </fieldset>

					<% end %>

					<div class="actions">
            <%= link_to "Cancelar", papers_users_path, :class=>"btn btn-info" %>
      	    <%= submit_tag "Confirmar", :class=>"btn btn-info" %>
          </div>					
				  
				<% end %>

      </div>
    </div>
    
  </div>
</div>
