<div class="breadcrumb-holder container-fluid">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Eventos", events_path %></li>
    <li class="breadcrumb-item"><%= @paper.event.title %></li>
    <li class="breadcrumb-item"><%= link_to "Trabalhos", papers_event_path(@paper.event) %></li>
    <li class="breadcrumb-item"><%= @paper.title %></li>
    <li class="breadcrumb-item active">Notas</li>
  </ul>
</div>

<section class="dashboard-counts no-padding-bottom no-padding-top">

  <div class="row no-padding">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <table class="table table-sm">
            <thead>
              <tr>
                <th class="col-lg-10">Critério</th>
                <th class="col-lg-2">Nota</th>
              </tr>
            </thead>
            <tbody>
              <%= render @ratings %>
            </tbody>
          </table>


          <% if @paper.has_rating_consideration? %>
            <div>
              <h4>Considerações</h4>

              <% @paper.ratings.includes(:criterium).each do |rating| %>
                <% if !rating.considerations.blank? %>
                  <p><%= rating.criterium.name %>: <%= rating.considerations %></p>
                <% end %>
              <% end %>
            </div>
          <% end %>
          
        </div>


      </div>
    </div>
  </div>

 
</section>
