<!DOCTYPE html>
<html>
  <head>
    <title>Eventos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page home-page" id="page">
      <% if current_user.present? %>
        <%= render 'partials/menu' %>

        <div class="page-content d-flex align-items-stretch">
          <%= render 'partials/side_bar' %>
          <div class="content-inner">
            <%= yield %>
          </div>
        </div>
        
      <% else %>
        <%= yield %>
      <% end %>
      
    </div>
  </body>
</html>
